.home-theme {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.image-section {
  height: 90%;
  width: 100%;
  align-content: center;
}

.image-section img {
  height: 85%;
}

.text-section {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-section h1 {;
  font-size: 3rem;
}

.text-section .glitch {
  padding-left: 11px;
}

@media (max-width: 768px) {
  .home-theme {
    flex-direction: column;
  }

  .image-section {
    height: 55%;
    align-content: center;
  }

  .text-section h1 {
    font-size: 2rem;
  }
}
