.home-theme {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.text-section {
  padding: 0 150px;
}

.text-section h1 {
  font-size: 3rem;
  font-weight: 900;
}

@keyframes glitch {
  50% {
    transform: skew(180deg);
  }
}

@media (max-width: 768px) {
  .home-theme {
    justify-content: center;
  }

  .text-section {
    padding: 0 20px;
  }
}
