<h2 mat-dialog-title>{{ 'portfolio.contact.modal.title' | translate }}</h2>
<mat-dialog-content>
  <p>{{ 'portfolio.contact.modal.text' | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions class="buttons">
  <button mat-button (click)='copyToClipboard("{{environment.contact.phone}}")'>
    {{ environment.contact.phone }}
  </button>
  <button mat-button><a mat-button href='mailto:{{environment.contact.email}}'>{{ environment.contact.email }}
  </a></button>
</mat-dialog-actions>

<span *ngIf='showNotification' class="notification">{{ notificationMessage }}</span>
