<div [ngClass]="{ 'dark-theme': themeService.currentTheme.isDark }" id="projects">
  <div class="projects">
    <div class="titel">
      <h1>Projects</h1>
    </div>
    <div class="cards">
      <div class="card" *ngFor="let card of dataSource">
        <mat-card>
          <img mat-card-image src="{{ card.image }}" alt="Title">
          <mat-card-header>
            <mat-card-title>{{ card.title }}</mat-card-title>
            <mat-card-subtitle>{{ card.subTitel }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ card.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button href="{{ card.github }}" target="_blank">
              <mat-icon svgIcon="github"></mat-icon> GitHub
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
