.projects {
  padding: 20px;
  min-height: 60vh;
}

.titel h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.cards {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px;
  max-width: 400px;
  min-width: 370px;
  color: var(--primary-text-color);
  box-shadow: var(--primary-box-shadow);
}

.dark-theme .card {
  box-shadow: var(--dark-box-shadow);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.dark-theme .mat-mdc-card-subtitle {
  color: #777777;
}

.mat-mdc-card-actions {
  justify-content: end;
}
