.menu-toolbar {
  background-color: var(--primary-bg-color);
  width: 100%;
  display: flex;
  color: var(--dark-text-color);
  justify-content: space-between;
  box-shadow: var(--primary-box-shadow);
}

.menu-toolbar .center-section a {
  text-decoration: none;
  color: var(--dark-text-color);
}

.dark-theme .menu-toolbar {
  background-color: var(--dark-bg-color);
  box-shadow: var(--dark-box-shadow);
}

.left-section {
  display: flex;
  align-items: center;
  cursor: alias;
}

.center-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}


.menu-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.8;
}

.menu-item a {
  text-decoration: none;
  color: black;
}

.menu-item:hover {
  transform: scale(1.5);
  opacity: 1;
  cursor: pointer;
  z-index: 10;
}

.menu-item:hover + .menu-item {
  transform: scale(1.2);
  transition: 0.4s;
}

.menu-item.active {
  font-weight: bold;
  opacity: 1;
}

.right-section {
  display: flex;
  align-items: center;
}
