<mat-toolbar color="primary">
  <span>My Portfolio</span>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">Home</button>
    <button mat-menu-item routerLink="/about">About Me</button>
    <button mat-menu-item routerLink="/projects">Projects</button>
    <button mat-menu-item routerLink="/contact">Contact Me</button>
  </mat-menu>
  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>{{ isDarkTheme ? 'brightness_7' : 'brightness_4' }}</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="langMenu">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #langMenu="matMenu">
    <button mat-menu-item (click)="changeLanguage('en')">English</button>
    <button mat-menu-item (click)="changeLanguage('de')">German</button>
  </mat-menu>
</mat-toolbar>
