<div [ngClass]="{ 'dark-theme': themeService.currentTheme.isDark }">
  <mat-toolbar class="menu-toolbar">
    <div class="left-section">
      <span>edonssfall</span>
    </div>
    <button mat-icon-button (click)="sidenav.toggle()" class="menu-toggle-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="center-section">
      <div class="menu-item">
        <a href="#home">{{ 'portfolio.navigation.home' | translate}}</a>
      </div>
      <div class="menu-item">
        <a href="#about">{{'portfolio.navigation.about' | translate}}</a>
      </div>
      <div class="menu-item">
        <a href="#projects">{{ 'portfolio.navigation.projects' | translate}}</a>
      </div>
      <div class="menu-item">
        <a href="assets/portfolio/pdfs/CV_Leonid_Tsarov.pdf" target="_blank">{{ 'portfolio.navigation.cv' | translate }}</a>
      </div>
      <div class="menu-item">
        <a href="#contact">{{'portfolio.navigation.contact' | translate}}</a>
      </div>
    </div>
    <div class="right-section">
      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>{{ this.themeService.currentTheme.isDark ? 'brightness_4' : 'brightness_7' }}</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="langMenu">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item (click)="changeLanguage('en')">English</button>
        <button mat-menu-item (click)="changeLanguage('de')">Deutsch</button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav #sidenav class="sidenav" mode="over" (keydown.esc)="sidenav.close()">
    <mat-nav-list class="sidenav-content">
      <a mat-list-item href="#home" (click)="sidenav.close()">
        <h1>{{ 'portfolio.navigation.home' | translate}}</h1>
      </a>
      <a mat-list-item href="#about" (click)="sidenav.close()">
        <h1>{{ 'portfolio.navigation.about' | translate }}</h1>
      </a>
      <a mat-list-item href="#projects" (click)="sidenav.close()">
        <h1>{{ 'portfolio.navigation.projects' | translate}}</h1>
      </a>
      <a mat-list-item href="assets/portfolio/pdfs/CV_Leonid_Tsarov.pdf">
        <h1>{{ 'portfolio.navigation.cv' | translate }}</h1>
      </a>
      <a mat-list-item href="#contact" (click)="sidenav.close()">
        <h1>{{ 'portfolio.navigation.contact' | translate}}</h1>
      </a>
      <div class="buttons">
        <button mat-icon-button (click)="toggleTheme()">
          <mat-icon>{{ themeService.currentTheme.isDark ? 'brightness_4' : 'brightness_7' }}</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="langMenu">
          <mat-icon>language</mat-icon>
        </button>
        <mat-menu #langMenu="matMenu">
          <button mat-menu-item (click)="changeLanguage('en')">English</button>
          <button mat-menu-item (click)="changeLanguage('de')">Deutsch</button>
        </mat-menu>
      </div>
    </mat-nav-list>
  </mat-sidenav>
</div>
