<span *ngIf='showNotification' class="notification">{{ notificationMessage | translate }}</span>
<div [ngClass]="{ 'dark-theme': themeService.currentTheme.isDark }">
  <div class="contact">
    <button mat-button (click)='copyToClipboard("{{environment.contact.phone}}")'>
      <a>{{ environment.contact.phone }}</a>
    </button>
    <button mat-button>
      <a mat-button href='mailto:{{environment.contact.email}}'>{{ environment.contact.email }}</a>
    </button>
    <button mat-raised-button class="buttons" (click)="downloadFile()">
      <mat-icon>download</mat-icon>
      {{ 'portfolio.home.cv' | translate }}
    </button>
  </div>
</div>
