.contact, a, button {
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

.dark-theme .mat-mdc-button:not(:disabled) {
  color: white;
}

.buttons {
  width: max-content;
  align-self: center;
}

.mat-mdc-raised-button:not(:disabled) {
  color: var(--dark-text-color);
  background: var(--primary-bg-color);
}

.dark-theme .mat-mdc-raised-button:not(:disabled) {
  background: var(--dark-bg-color);
}

@media (max-width: 768px) {
  .contact {
    margin-top: 4vh;
    flex-direction: column;
  }

  .contact button {
    margin-top: 1vh;
  }
}
