<div [ngClass]="{ 'dark-theme': themeService.currentTheme.isDark }">
  <footer class='footer'>
    <div class='footer-content'>
      <div class='contact-info'>
        <button (click)="openDialog('500ms', '500ms')">
          Get in touch with me
        </button>
      </div>
      <div class='social-links'>
        <a class="icon-github" mat-icon-button href='{{environment.contact.github}}' target='_blank'
           aria-label='GitHub'>
          <mat-icon class="icons" svgIcon="github"></mat-icon>
        </a>
        <a class="icon-linkedin" mat-icon-button href='{{environment.contact.linkedin}}}' target='_blank'
           aria-label='LinkedIn'>
          <mat-icon class="icons" svgIcon="linkedin">business_center</mat-icon>
        </a>
      </div>
    </div>
  </footer>
</div>
