.modalWindow {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 30vw;
    border: 2px solid;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    background: aliceblue;
}
