<div [ngClass]="{ 'dark-theme': themeService.currentTheme.isDark }">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <td mat-cell *matCellDef="let element" class="row"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <td mat-cell *matCellDef="let element" class="row"> {{element.location}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <td mat-cell *matCellDef="let element" class="row"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <td mat-cell *matCellDef="let element" class="row"> {{element.status}} </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
